* {
  font-family: Helvetica;
}

body {
  min-height: 100vh;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}

header {
  padding: 70px 0px;
}

.logo {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.initialText {
  font-size: 20px;
  color: black;
  letter-spacing: 1.5px;
}

.startButton {
  margin-top: 20px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.timerText {
  font-size: 20px;
  color: black;
}

.questionText {
  font-size: 30px;
  color: black;
}

.correctText,
.wrongText,
.timeOutText,
.finishedText {
  font-size: 50px;
  color: black;
}

.summaryCorrect,
.summaryWrong,
.summaryUnanswered {
  font-size: 20px;
  color: black;
}

#timer {
  color: #7db539;
  font-size: 40px;
  font-weight: bold;
}

.answer:hover {
  background: #7db539;
}

.answer {
  height: 45px;
  width: 250px;
  color: white;
  background-color: red;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.imgWrong,
.imgCorrect {
  margin-top: 40px;
  width: 250px;
}

.questionText {
  margin-bottom: 50px;
}

.resetButton {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.summaryCorrect {
  margin-top: 40px;
}

.summaryCorrect,
.summaryWrong,
.summaryUnanswered {
  margin-left: auto;
  margin-right: auto;
}
